.header__image {
  margin: 6.4% auto 0;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .header__image {
    width: 90.5%;
    margin-top: 5.3%;
  }
}

@media screen and (max-width: 768px) {
  .header__image {
    width: 100%;
    margin-top: 7.2%;
  }
}

@media screen and (max-width: 320px) {
  .header__image {
    margin-top: 12%;
  }
}