@import url(../__paragraph/_small/places__paragraph_small.css);
@import url(../__paragraph/_erie/places__paragraph_erie.css);

.places__paragraph {
  margin: 0;
  grid-area: text;
  font-size: 18px;
  line-height: 30px;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 5.5%;
  width: 484px;
}

@media screen and (max-width: 1024px) {
  .places__paragraph {
    width: 456px;
  }
}

@media screen and (max-width: 960px) {
  .places__paragraph {
    width: 355px;
  }
}

@media screen and (max-width: 880px) {
  .places__paragraph {
    width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 6.8%;
  }
}

@media screen and (max-width: 765px) {
  .places__paragraph {
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 400px) {
  .places__paragraph {
    width: 288px;
    margin-left: 4.3%;
    padding-bottom: 0;
  }
}


@media screen and (max-width: 320px) {
  .places__paragraph {
    width: 288px;
    margin-left: 4.3%;
  }
}