.landscape__image {
  margin: 0;
  padding: 0;
  object-fit: contain;
}

.landscape__image:hover {
  opacity: 30%;
}

@media screen and (max-width: 1024px) {
  .landscape__image {
    width: 101%;
  }
}

/*matches figma*/
@media screen and (max-width: 320px) {
  .landscape__image {
    width: 100.5%;
  }