.page {
  background-color: #2a2c2f;
  color: #fff;
  width: 100%;
  max-width: 1280px;
  min-width: 1025px;
  height: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  overflow: hidden;
  margin: auto;
  color: green;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 769px;
  }
}

@media screen and (max-width: 768) {
  .page {
    min-width: 321px;
  }
}