.footer__column-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 6%;
}

.footer__column-link:hover {
  opacity: 60%;
}

@media screen and (max-width: 1024px) {
  .footer__column-link {
    margin-right: 7%;

  }
}

@media screen and (max-width: 768px) {
  .footer__column-link {
    margin-right: 9%;
  }

  .footer__column-link:hover {
    opacity: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer__column-link {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0;
    margin-bottom: 40%;
  }
}