#places__location_maine {
  grid-gap: 8.5% 4%;
}

@media screen and (max-width: 1024px) {
  #places__location_maine {
    grid-gap: 8.5% 3.3%;
  }
}

@media screen and (max-width: 768px) {
  #places__location_maine {
    grid-gap: 9.5% 3.7%;
  }
}

@media screen and (max-width: 320px) {
  #places__location_maine {
    grid-gap: 3.2%;
  }
}