@import url(../places/__location/places__location.css);
@import url(../places/__heading/places__heading.css);
@import url(../places/__link-container/places__link-container.css);
@import url(../places/__link-text/places__link-text.css);
@import url(../places/__link/places__link.css);
@import url(../places/__image/places__image.css);
@import url(../places/__text-container/places__text-container.css);
@import url(../places/__paragraph/places__paragaph.css);


.places {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .places {
    margin-top: 7.5%;
  }
}

@media screen and (max-width: 660px) {
  .places {
    margin-top: 65%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin-top: 12.5%;
  }
}