.route__heading {
  font-size: 72px;
  line-height: 76px;
  margin: auto auto 2% auto;
  letter-spacing: 1px;
  width: 60%;
  font-weight: bold;
  z-index: 1;
  color: purple;
}

@media screen and (max-width: 1132px) {
  .route__heading {
    width: 70%
  }
}

@media screen and (max-width: 1024px) {
  .route__heading{
    margin-top: 23%;
  }
}

@media screen and (max-width: 900px) {
  .route__heading {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .route__heading{
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .route__heading {
    width: 100%;
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 450px) {
  .route__heading {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .route__heading{
    margin-top: 24%;
  }
}