.route__heading {
  font-size: 72px;
  line-height: 76px;
  margin: auto auto 0;
  width: 656px;
  font-weight: 900;
  z-index: 2;
}

@media screen and (max-width: 1132px) {
  .route__heading {
    width: 64.06%
  }
}

@media screen and (max-width: 1024px) {
  .route__heading{
    margin-top: 23.5%;
  }
}

@media screen and (max-width: 980px) {
  .route__heading {
    width: 85.42%;
  }
}

@media screen and (max-width: 735px) {
  .route__heading {
    width: 90%;
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 768px) {
  .route__heading {
    margin-top: 20.5%;
  }
}

@media screen and (max-width: 475px) {
  .route__heading {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .route__heading{
    margin-top: 17%;
  }
}