.places__heading {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: #fff;
  grid-area: heading;
  align-self: flex-end;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .places__heading {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 660px) {
  .places__heading {
    margin-left: 25%;
  }
}

@media screen and (max-width: 550px) {
  .places__heading {
    margin-left: 15%;
  }
}

@media screen and (max-width: 450px) {
  .places__heading {
    font-size: 32px;
    line-height: 35px;
    margin-left: 7%;
  }
}

@media screen and (max-width: 320px) {
  .places__heading {
    margin-left: 5%;
  }
}