
.places__heading {
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
  color: #fff;
  grid-area: heading;
  letter-spacing: 1.5px;
  align-self: flex-end;
  color: green;
} 

@media screen and (max-width: 1024px) {
  .places__heading {
    /* margin-top: 0%; */
  }
}

@media screen and (max-width: 768px) {
  .places__heading {
    /* margin-top: 22%; */
    margin-left: 0;
    font-size: 42px;
    line-height: 46px;
    /* width: 125%; */
    letter-spacing: .5px;
  }
}

@media screen and (max-width: 320px) {
  .places__heading {
    margin-left: 5%;
    font-size: 32px;
    line-height: 35px;
    width: 125%;
    letter-spacing: .5px;
  }
}