
.places__heading {
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
  color: #fff;
  grid-area: heading;
  letter-spacing: 1.5px;
  align-self: flex-end;
  margin-bottom: -1%;
} 

@media screen and (max-width: 1000px){
  .places__heading {
    font-size: 50px;
    line-height: 53px;
  }
}

@media screen and (max-width: 768px) {
  .places__heading {
    font-size: 42px;
    line-height: 46px;
    width: 100%;
    letter-spacing: .6px;
  }
}

@media screen and (max-width: 320px) {
  .places__heading {
    font-size: 32px;
    line-height: 35px;
    margin-left: 5%;
    word-spacing: -3px;
    width: 288px;
  }
}