/*ID ID ID ID ID ID ID*/

#places__location_erie {
  margin-top: 6.2%;
  grid-gap: 5.6% 3.9%;
}

@media screen and (max-width: 1024px) {
  #places__location_erie {
    grid-gap: 6% 1.5%;
    margin-top: 8%;
    margin-left: 1.5%;
  }
}

@media screen and (max-width: 768px) {
  #places__location_erie {
    grid-gap: 6.8% 3%;
    margin-top: 3.8%;
    }
}

@media screen and (max-width: 320px) {
  #places__location_erie {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "heading"
      "image"
      "text";
    grid-gap: 1.8%;
    margin-left: 0;
    padding: 0;
    }
}