@import url(../landscape/__image/landscape__image.css);

.landscape {
  width: 90%;
  display: grid;
  grid-gap: 1.9% 1.4%;
  margin: 7.3% auto 0;
  padding-right: 2.5%;
  grid-template-columns: repeat(4, 1fr);
  
}

/*matches figma*/
@media screen and (max-width: 1024px) {
  .landscape {
    margin-top: 9.1%;
    margin-left: 4.7%;
    display: grid;
    grid-gap: 1.7% 2%;
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 768px) {
  .landscape {
    margin-top: 9.1%;
    margin-left: 4.6%;
    display: grid;
    /* grid-gap: 1.9% 1.7%; */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .landscape {
    margin-top: 20.5%;
    margin-left: 4.6%;
    display: grid;
    grid-gap: .4% 1.7%;
    grid-template-columns: repeat(1, 1fr);
  }
}