@import url(../landscape/__image/landscape__image.css);

.landscape {
  width: 94%;
  display: grid;
  grid-gap: 2% 1.4%;
  margin: 7.3% auto 0;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .landscape {
    margin-top: 9.1%;
    grid-gap: 1.5% 1.5%;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .landscape {
    grid-gap: .7% 2%;
    margin-top: 11.6%;
  }
}

@media screen and (max-width: 320px) {
  .landscape {
    grid-gap: .3%;
    margin-top: 20.5%;
  }
}