.header__brief {
  align-self: flex-start;
  margin-top: .9%;
  margin-left: 2%;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1024px) {
  .header__brief {
    margin-left: 4.8%;
  }
}

@media screen and (max-width: 768px) {
  .header__brief {
    margin-left: 3.1%;
    margin-top: 1%;
  }
}

@media screen and (max-width: 320px) {
  .header__brief {
    margin-top: 3%;
    margin-left: 5%;
  }
}