.places__link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-top: 2%;
}

.places__link:hover {
  opacity: 60%;
}

@media screen and (max-width: 768px) {
  .places__link {
    margin-top: 3%;
    padding-bottom: 1%;
  }
  .places__link:hover {
    opacity: 100%;
  }
}