#places__location_new-hamp {
  margin-top: 10.2%;
  grid-gap: 7.2% 4%;
}

@media screen and (max-width: 1024px) {
  #places__location_new-hamp {
    margin-top: 12.6%;
    grid-gap: 6.6% 3.2%;
  }
}

@media screen and (max-width: 768px) {
  #places__location_new-hamp {
    grid-gap: 6.9% 3.7%;
    margin-top: 7.3%;
  }
}

@media screen and (max-width: 320px) {
  #places__location_new-hamp {
    margin-top: 23%;
    grid-gap: 3.3%;
  }
}