.states__location {
  margin: 10.25% 0 0 1.7%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 2.5fr;
  grid-gap: 5.9% 1.3%;
  grid-template-areas: 
    "heading link"
    "image text";
  padding-right: 1.5%;
}

.states__location:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .states__location {
    grid-template-columns: auto auto;
    margin-top: 6.7%;
    margin-left: 1.5%;
  }
}

@media screen and (max-width: 768px) {
  .states__location {
    grid-gap: 6.8% 13%;
    margin-top: 3.8%;
    }
}

@media screen and (max-width: 320px) {
  .states__location {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "heading"
      "image"
      "text";
    grid-gap: 1.8%;
    margin-left: 0;
    padding: 0;
    }
}