.states__location {
  margin: 11.25% 0 0 1.7%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 2.5fr;
  grid-gap: 5% 1%;
  grid-template-areas: 
    "heading link"
    "image text";
  padding-right: 1.5%;
}