.know__main-text {
  width: 67%;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  word-spacing: -.7px;
  letter-spacing: .1px;
  margin: 3.2% 0 0 2%;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .know__main-text {
    width: 83.8%;
  }
}