.know__main-text {
  width: 67%;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  word-spacing: -.7px;
  letter-spacing: .1px;
  margin: 3.2% 0 0 2%;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .know__main-text {
    width: 83.8%;
    margin-top: 4%;
  }
}

@media screen and (max-width: 768px) {
  .know__main-text {
    margin-left: 0;
    margin-top: 3.5%;
    word-spacing: -.5px;
    width: 79%;
  }
}

@media screen and (max-width: 320px) {
  .know__main-text {
    width: 100%;
    margin-top: 11.5%;
    margin-left: 2.5%;
  }
}