.header__logo {
  align-self: flex-start;
  margin-top: -5.3%;
  margin-left: 11.5%;
  border: 1px red solid;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-left: 4.7%;
    margin-top: -6.8%;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-top: -9.1%;
    margin-left: 3%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-top: -18.2%;
    margin-left: -.85%;
    transform: scale(.82);
  }
}
