.header__logo {
  margin-top: 0;
  width: 190px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-top: .9%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 156px;
    height: 36px;
    margin-top: 3%;
  }
}
