@import url(../header/__logo/header__logo.css);
@import url(../header/__languages/header__languages.css);
@import url(../header/__language/header__language.css);
@import url(../header/__language/__active/header__language_active.css);

.header {
  display: flex;
  width: 76.875%;
  justify-content: space-between;
  margin: 2.5% auto;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 3.5%;
    width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 3.3%;
    width: 90%;
  }
}

