.footer__author {
  justify-self: flex-end;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
  padding-top: 1%;
  margin-left: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .footer__author {
    margin-top: 1%;
    margin-right: 2.6%;
    height: 16px;
    padding-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__author {
    margin: 5% 0 0;
    width: 100%;
    line-height: 14px;
    padding-bottom: 8%;
    text-align: left;
    grid-area: author;
  }
}