.footer__author {
  justify-self: flex-end;
  margin-left: auto;
  margin-bottom: 1%;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  .footer__author {
    margin-top: 1%;
    margin-right: 2.3%;
  }
}

@media screen and (max-width: 320px) {
  .footer__author {
    grid-area: author;
    margin: 0;
    width: 100%;
    line-height: 14px;
    margin-top: 5%;
    padding-bottom: 8%;
  }
}