.intro__brief {
  align-self: flex-start;
  margin: .9% 0 0 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .intro__brief {
    margin-left: 3.1%;
    margin-top: 1%;
  }
}

@media screen and (max-width: 320px) {
  .intro__brief {
    margin-top: 3%;
    margin-left: 5%;
  }
}