@import url(../know/__title/know__title.css);
@import url(../know/__subtitle/know__subtitle.css);
@import url(../know/__main-text/know__main-text.css);
@import url(../know/__info/know__info.css);
@import url(../know/__span-accent/know__span-accent.css);

.know {
  display: flex;
  width: 690px;
  margin: 7% auto 0 11.5%;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .know {
    margin-left: 4.65%;
    margin-top: 8.7%;
  }
}

@media screen and (max-width: 768px) {
  .know {
    margin-top: 11%;
    margin-left: 3%;
    width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .know {
    margin-top: 18.5%;
    margin-left: 5%;
    width: 288px;
  }
}