/*do not touch matches figma*/
.header__languages {
  display: flex;
  align-self: flex-end;
  margin-right: 1.3%;
  margin-top: -1.8%;
  width: 8%;
}

/*do not touch matches figma*/
@media screen and (max-width: 1024px) {
  .header__languages {
    margin-right: 4%;
    /* margin-top: .8%; */
  }
}

@media screen and (max-width: 768px) {
  .header__languages {
    margin-right: 4.7%;
    margin-top: -.3%;
  }
}

@media screen and (max-width: 320px) {
  .header__languages {
    margin-right: 13.8%;
    margin-top: 1.9%;
  }
}