.route__subheading {
  width: 320px;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  z-index: 2;
  margin: 0 auto auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .route__subheading {
    margin-top: .5%;
  }
}

@media screen and (max-width: 768px) {
  .route__subheading {
    margin-top: 1.5%;
  }
}

@media screen and (max-width: 320px) {
  .route__subheading {
    font-size: 14px;
    line-height: 16px;
    width: 250px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 25%;
  }
}