.route__subheading {
  width: 25%;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  opacity: 100%;
  z-index: 2;
  margin: 0 auto auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .route__subheading {
    width: 30%;
    margin-top: .5%;
  }
}

@media screen and (max-width: 768px) {
  .route__subheading {
    width: 40%;
    margin-top: 1.5%;
  }
}

@media screen and (max-width: 320px) {
  .route__subheading {
    font-size: 14px;
    line-height: 16px;
    width: 68%;
    text-align: center;
    margin-top: 2%;
  }
}