.places__link-text {
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .places__link-text {
    display: none;
  }
}
