.places__link-text {
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  color: green;
}

@media screen and (max-width: 1024px) {
  .places__link-text {
    margin-top: 15%;
  }
  .places__link-text_theme-hamp{
    margin-top: 29%;
  }
}

@media screen and (max-width: 320px) {
  .places__link-text {
    display: none;
  }
}
