/*ID ID ID ID ID ID ID*/

#places__location_ohio {
  margin-top: 7.5%;
  grid-gap: 7.5% 3.9%;
}

@media screen and (max-width: 1024px) {
  #places__location_ohio {
    margin-top: 9.4%;
    margin-left: 1.5%;
    grid-gap: 8% 1.6%;
  }
}

@media screen and (max-width: 768px) {
  #places__location_ohio {
    grid-gap: 6.8% 3%;
    margin-top: 3.8%;
    }
}

@media screen and (max-width: 320px) {
  #places__location_ohio {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "heading"
      "image"
      "text";
    grid-gap: 1.8%;
    margin-left: 0;
    padding: 0;
    }
}