#places__location_new-york {
  margin-top: 7%;
  grid-gap: 8.3% 4%;
}

@media screen and (max-width: 1024px) {
  #places__location_new-york {
    margin-top: 9.6%;
    grid-gap: 8.5% 3.1%;
  }
}

@media screen and (max-width: 768px) {
  #places__location_new-york {
    grid-gap: 10% 3.5%;
    margin-top: 9.3%;
  }
}

@media screen and (max-width: 320px) {
  #places__location_new-york {
    margin-top: 21%;
    grid-gap: 3.6%;
  }
}