.places__text-container {
  grid-area: text;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  width: 100%;
  max-width: 484px;
  min-width: 440px;
}

@media screen and (max-width: 1024px) {
  .places__text-container {
    max-width: 456px;
    min-width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .places__text-container {
    max-width: 352px;
    min-width: 288px;
  }
}

@media screen and (max-width: 345px) {
  .places__text-container {
    max-width: 288px;
    
  }
}