.places__text-container {
  grid-area: text;
  margin: 0;
  margin-top: -.9%;
  padding: 0;
  color: #fff;
}

@media screen and (max-width: 765px) {
  .places__text-container {
    padding-bottom: 50%;
  }
}

@media screen and (max-width: 450px) {
  .places__text-container {
    padding-bottom: 70%;
  }
}

@media screen and (max-width: 320px) {
  .places__text-container {
    text-align: center;
    padding-bottom: 0;
  }
}