@import url(../__location/_maine/places__location_maine.css);
@import url(../__location/_new-hamp/places__location_new-hamp.css);
@import url(../__location/_new-york/places__location_new-york.css);
@import url(../__location/_erie/places__location_erie.css);
@import url(../__location/_ohio/places__location_ohio.css);

.places__location {
  margin: 7.3% auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: 460px 484px;
  /*does not work with %*/
  object-fit: contain;
  grid-template-rows: .5fr 2.5fr;
  grid-template-areas: 
    "heading link"
    "image text";
  width: 80%;
  padding-left: 2.7%;
}

@media screen and (max-width: 1100px) {
  .places__location {
    width: 100%;
    margin-left: 2%;
  }
}

@media screen and (max-width: 1024px) {
  .places__location {
    width: 100%;
    grid-template-columns: 440px 456px;
    margin-top: 6.3%;
    margin-left: 4.5%;
    padding-left: 0;
  }
}

@media screen and (max-width: 1000px) {
  .places__location {
    grid-template-columns: 350px 350px;
  }
}

@media screen and (max-width: 800px) {
  .places__location {
    grid-template-columns: 340px 352px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .places__location {
    grid-template-columns: 340px 352px;
    margin-top: 14%;
    margin-left: 3%;
  }
}

@media screen and (max-width: 765px) {
  .places__location {
    grid-template-columns: 320px;
    margin-top: 44%;
    grid-template-areas: 
      "heading"
      "image"
      "text";
    margin-left: 25%; 
    padding: 0;
  }
}

@media screen and (max-width: 490px) {
  .places__location {
    margin-left: 5%;
  }
}

@media screen and (max-width: 490px) {
  .places__location {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .places__location {
    grid-template-columns: 320px;
    margin-top: 44%;
    grid-template-areas: 
      "heading"
      "image"
      "text";
    margin-left: 0;
    padding: 0;
  }
}