.places__location {
  margin: 8.3% auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: 460px 484px;
  object-fit: contain;
  grid-template-rows: .5fr 2.5fr;
  grid-gap: 6% 3.8%;
  grid-template-areas: 
    "heading link"
    "image text";
  width: 80%;
  padding-left: 3%;
}

@media screen and (max-width: 1279px) {
  .places__location {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1125px) {
  .places__location {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .places__location {
    grid-template-columns: 440px 456px;
    grid-gap: 6% 3.2%;
    margin-top: 11%;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .places__location {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 875px) {
  .places__location {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .places__location {
    grid-gap: 8% 3%;
    grid-template-columns: 340px 352px;
    padding-left: .6%;
    margin-top: 6.5%;
  }
}

@media screen and (max-width: 767px) {
  .places__location {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 660px) {
  .places__location {
    grid-template-areas: 
    "heading"
    "image"
    "text";
  grid-template-columns: 1fr;
  grid-gap: 3%;
  padding-left: 0;
  width: 100%;
  margin: auto;
  padding-top: 20%;
  }
}

@media screen and (max-width: 320px) {
  .places__location {
    margin-top: 26%;
    width: 100%;
    padding: 0;
  }
}