@import url(../footer/__column-links/footer__column-links.css);
@import url(../footer/__column-link/footer__column-link.css);
@import url(../footer/__author/footer__author.css);

.footer {
  width: 93%;
  margin: auto;
  display: flex;
  margin-top: 80px;
  padding-bottom: 15px;
}