.footer {
  width: 90%;
  margin: 100px auto;
  display: flex;
}

.footer__columns {
  /* display: flex; */
  /* justify-content: space-around; */
  
}

.footer__column-link {
  /* justify-self: left; */
  text-decoration: none;
  color: white;
}

.footer__author {
  justify-self: flex-end;
  margin-left: auto;
}