@import url(../footer/__column-links/footer__column-links.css);
@import url(../footer/__column-link/footer__column-link.css);
@import url(../footer/__author/footer__author.css);

.footer {
  width: 93%;
  margin: 80px auto 15px;
  display: flex;
  margin-top: 7%;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 8.2%;
    margin-bottom: 22px;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 11% auto 2% ;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    display: grid;
    grid-template-areas: 
      "links"
      "author";
    grid-template-columns: 1fr;
    grid-gap: 5%;
    text-align: left;
    margin-top: 20%;
    margin-bottom: 2%;
  }
}