.states__image {
  grid-area: image;
  margin: 0;
  padding: 0;
  object-fit: contain;
  margin-left: .7%;
  margin-top: 1.8%;
}

.states__image:hover {
  opacity: 30%;
}

@media screen and (max-width: 1024px) {
  .states__image {
    width: 95.5%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .states__image {
    width: 125%;
    margin-left: 0;
    margin-top: 4%;
  }
}

@media screen and (max-width: 320px) {
  .states__image {
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    text-align: left;
  }
  .states__image:hover {
    opacity: 100%;
  }
}