.footer__column-links {
  max-width: 27%;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .footer__column-links {
    margin-top: 1%;
  
  }
}

@media screen and (max-width: 768px) {
  .footer__column-links {
    margin-top: .5%;
  }
}

@media screen and (max-width: 320px) {
  .footer__column-links {
    grid-area: links;
    flex-direction: column;
  }
}