.footer__column-links {
  padding-top: 1%;
  padding-left: .2%;
  width: 27%;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .footer__column-links {
    padding-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__column-links {
    grid-area: links;
    flex-direction: column;
  }
}