.intro__image {
  margin: 3.4% auto 0;
  object-fit: contain;
}

@media screen and (max-width: 1100px) {
  .intro__image {
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .intro__image {
    width: 90.5%;
    margin-top: 2.5%;
  }
}

@media screen and (max-width: 768px) {
  .intro__image {
    width: 100%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 320px) {
  .intro__image {
    margin-top: 7%;
  }
}