@import url(../route/__heading/route__heading.css);
@import url(../route/__subheading/route__subheading.css);

.route {
  background-image: url(../../images/route66.png);
  width: 1184px;
  height: 740px;
  margin: 9.8% auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  opacity: 80%;
}

.route:hover {
  opacity: 30%;
}