@import url(../route/__hover/route__hover.css);
@import url(../route/__heading/route__heading.css);
@import url(../route/__subheading/route__subheading.css);


.route {
  width: 1184px;
  height: 740px;
  margin: 10.1% auto 0 3.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  background-image: url(../../images/route66.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1230px) {
  .route {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .route {
    height: 640px;
    margin-top: 11.8%;
  }
}

@media screen and (max-width: 768px) {
  .route {
    margin-top: 16%;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .route {
    height: 200px;
    margin-top: 33.5%;
  }
}