.header__title {
  font-size: 96px;
  line-height: 100px;
  width: 72%;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 2.4% 0 0 0;
  padding: 0;
  word-spacing: -5px;
}

@media screen and (max-width: 1176px) {
  .header__title {
    width: 77%;
  }
}

@media screen and (max-width: 1024px) {
  .header__title {
    margin-top: 1.75%;
    width: 75%;
  }
}

@media screen and (max-width: 904px) {
  .header__title {
    width: 88%;
  }
}

@media screen and (max-width: 777px) {
  .header__title {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .header__title {
    font-size: 65px;
    line-height: 70px;
    width: 80%;
  }
}

@media screen and (max-width: 579px) {
  .header__title {
    width: 93.6%;
  }
}

@media screen and (max-width: 500px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 40px;
    line-height: 44px;
    margin-top: 10.5%;
    margin-left: 1.5%;
    width: 95%;
  }
}