#places__paragraph_erie {
  width: 99%;
}

@media screen and (max-width: 1024px) {
  #places__paragraph_erie {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  #places__paragraph_erie {
    width: 288px;
  }
}