.intro__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  max-width: 720px;
  min-width: 720px;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .intro__title {
    width: 80%;
  }
}

@media screen and (max-width: 1110px) {
  .intro__title {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .intro__title {
    max-width: 720px;
    min-width: 720px;
  }
}

@media screen and (max-width: 725px) {
  .intro__title {
    font-size: 60px;
    line-height: 66px;
    max-width: 500px;
    min-width: 500px;
    width: 65%;
  }
}

@media screen and (max-width: 655px) {
  .intro__title {
    font-size: 40px;
    line-height: 44px;
    width: 50%;
   }
}

@media screen and (max-width: 575px) {
  .intro__title {
    width: 55%;
   }
}

@media screen and (max-width: 515px) {
  .intro__title {
    max-width: 288px;
    min-width: 288px;
   }
}